.Contact{
    display: flex;
    justify-content: center;
}
.bgContact{
    width: 700px;
    height: 700px;
    margin: 60px;
    
}
.bgContact .img-fluid{
    border-radius: 10px;
    width: 100%;
}
.contactForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 90px 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.contactUs{
    display: flex;
    flex-direction: column;
}
.contactUs input[type= 'text']{
    width: 400px;
    padding: 10px;
    margin: 15px 0;
}

.contactUs textarea{
    margin: 15px 0;
}

.sndContact{
   height: 40px;
   border-radius: 10px;
   background: #198754;
   border: solid #198754;
   color: #fff;
   font-weight: bold;
   transition: 0.2s;
}

.sndContact:hover{
    background: none;
    color: #000;
}

@media screen and (max-width:750px) {
    .bgContact img{
        display: none;
    }
    .contactUs input[type= 'text']{
        padding: 5px 0;
        width: 350px;
    }
    .contactForm{
        padding: 50px 10px;
    }
    .col-3{
        display: none;
    }
}